---
layout: default
title: Home
---

<div class="posts">
  <article class="post">
    <h2 class="post-title">
        Command Statistics List
    </h2>
    <ul>
      <li class="post-title"s>
        <a href="{{ 'statistics_pipe/' | relative_url }}">
          List of Commands using Pipe
        </a>
      </li>
      <li class="post-title"s>
        <a href="{{ 'statistics_double_pipe/' | relative_url }}">
          List of Commands using Double Pipe
        </a>
      </li>
      <li class="post-title"s>
        <a href="{{ 'statistics_semicolon/' | relative_url }}">
          List of Commands using Semicolon
        </a>
      </li>
    </ul>
    <br>
    <h2 class="post-title">
        Command Manual List
    </h2>


    {% assign tags =  site.manuals | map: 'tags' | join: ','  | split: ',' | uniq %}
    {% for tag in tags %}
      <h3> {{ tag }} </h3>
      <ul>
        {% for manual in site.manuals %}
            {% if manual.tags contains tag %}
              <li class="post-title"s>
                <a href="{{ manual.url | relative_url }}">
                  {{ manual.title }}
                </a>
              </li>
            {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </article>
</div>
