// Layout
//
// Styles for managing the structural hierarchy of the site.

.logo {
  width: 90px;
  float: left;
  bottom: var(--spacer-2);
  margin-top: var(--spacer);
  margin-right: var(--spacer);
  position: relative;
}

.container {
  max-width: 45rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

.float{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #ffffff;
  color: rgb(61, 61, 61);
  border-radius: 50px;
  border-color: #767676;
  border-style: solid;
  text-align: center;
  padding-top: 16px;
  box-shadow: 2px 2px 3px #999;
  text-decoration: none;
}

.my-float{
	margin-top:22px;
}
