---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  <h6>tags: <code class="language-plaintext highlighter-rouge">{{page.tags}}</code></h6>
  {{ content }}
  <div class="line"></div>
  <h3>Related Article</h3>


  {% if page.tags contains "most_used" %}
  {% else %}
    <li class="post-title"s>
      <a href="/manuals/most_used_cmds/">
        Most used bsd/linux commands of all time
      </a>
    </li>
  {% endif %}

  {% for manual in site.manuals %}
  {% if manual.tags == page.tags and manual.title != page.title %}
    <li class="post-title"s>
      <a href="{{ manual.url | relative_url }}">
        {{ manual.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}

  {% if page.tags contains "most_used" %}
    {% for manual in site.manuals %}
      <li class="post-title">
        <a href="{{ manual.url | relative_url }}">
          {{ manual.title }}
        </a>
      </li>
    {% endfor %}
    <script src="{{ '/assets/js/most_used.js' | relative_url }}"></script>
  {% endif %}

</article>
<a href="{{ site.baseurl }}/" title="Home" class="float">
  <span class="material-symbols-outlined">home</span>
</a>
